/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
.left,
.center,
.right{
    float: left;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(252, 252, 252);
}

h2{
    font-size: 25px;
}



/* *** HEADER *** */

/* *** MAIN *** */

/* *** FOOTER *** */

/* *** DEBUG *** */


.debug .row{
    height: calc(100vh - 50px);
    background-color: gray
}
.debug .row aside{
    height: 100%;
    min-height: 400px;
    width: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.debug .row aside img{
    width: 20px;
    vertical-align: bottom;
}
.debug .row aside li{
    line-height: 20px;
    padding: 2px 8px;
}

.debug .row aside .logo img#l,
.debug .row aside .playlist{
    display: none;
}

.debug .row aside span{
    display: none;
}






.debug .row .header,
.debug .row .main{
    width: calc(100% - 32px)
}
.debug .row .header{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}
.debug .row .main{
    height: calc(100% - 50px);
    background-color: gray;
    overflow-y: scroll;
}

.debug .row .main ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.debug .row .main li{
    padding: 4px 10px;
}

.debug .row .main .recently-played{
    display: flex;
    flex-wrap: wrap;
}

.debug .row .main .recently-played .albums{
    width: calc(100% / 2 - 10px);
    max-width: 200px;
    margin: 5px auto;
}

.debug .row .main .recently-played .albums img{
    width: 100%;
}
.debug .row .main .recently-played .albums .album-text{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}



.debug footer{
    width: 100%;
    height: 50px;
    background-color: gray;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.debug footer .left,
.debug footer .center,
.debug footer .right{
    height: 100%;
}

.debug footer .left,
.debug footer .right{
    width: 20%;
}

.debug footer .left{
    background-color: chartreuse;
}
.debug footer .center{
    width: 60%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center
}

.debug footer .center .up{
    width: 125px;
    height: 25px;
    background-color: coral;
}
.debug footer .center .down{
    width: 55%;
    height: 25px;
    background-color: coral;
}

.debug footer .right{
    background-color: blue;
}





@media screen and (min-width: 415px){

    .debug .row aside{
        width: 155px;
    }

    .debug .row .header,
    .debug .row .main{
        width: calc(100% - 155px)
    }

    .debug .row aside{
        align-items: unset;
    }

    .debug .row aside span{
        display: inline;
    }

    .debug .row aside .playlist{
        display: block;
    }

    .debug .row aside .logo img#l{
        display: inline-block;
        width: 120px;
        padding: 5px;
    }

    .debug .row aside .logo img#s{
        display: none;
    }
    

}