/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}
.left,
.center,
.right{
    float: left;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}



/* *** HEADER *** */

/* *** MAIN *** */

/* *** FOOTER *** */

/* *** DEBUG *** */

.debug .container{
    max-width: 100%;
    margin:auto;
    margin-top: 10px;
    height: 568px;
    background-color: yellow;
}
.debug .row{
    height: 100%;
}
.debug .row aside{
    height: 100%;
    width: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.debug .row aside .up,
.debug .row aside .down{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.debug .row aside i{
    margin: 2px 0;
}


.debug .row .header,
.debug .row .main{
    width: calc(100% - 32px)
}
.debug .row .header{
    height: 10%;
    background-color: turquoise;
}
.debug .row .main{
    height: 90%;
    background-color: blueviolet;
}

.debug footer{
    height: 50px;
    background-color: gray;
}

.debug footer .left,
.debug footer .center,
.debug footer .right{
    height: 100%;
}

.debug footer .left,
.debug footer .right{
    width: 20%;
}

.debug footer .left{
    background-color: chartreuse;
}
.debug footer .center{
    width: 60%;
    background-color: red;
}
.debug footer .right{
    background-color: blanchedalmond;
}





@media screen and (min-width: 414px){

    .debug .row aside{
        width: 190px;
    }

    .debug .row .header,
    .debug .row .main{
        width: calc(100% - 190px)
}

}