/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}
.left,
.center,
.right{
    float: left;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}



/* *** HEADER *** */

/* *** MAIN *** */

/* *** FOOTER *** */

/* *** DEBUG *** */


.debug .row{
    height: calc(100vh - 50px);
    background-color: yellow;
}
.debug .row aside{
    height: 100%;
    width: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.debug .row aside img{
    width: 20px;
    vertical-align: bottom;
}
.debug .row aside li{
    line-height: 20px;
    padding: 2px 8px;
}

.debug .row aside .logo img#l,
.debug .row aside .playlist{
    display: none;
}

.debug .row aside span{
    display: none;
}






.debug .row .header,
.debug .row .main{
    width: calc(100% - 32px)
}
.debug .row .header{
    height: 10%;
    background-color: black
}
.debug .row .main{
    height: 90%;
    background-color: blueviolet;
}






.debug footer{
    height: 50px;
    background-color: gray;
}

.debug footer .left,
.debug footer .center,
.debug footer .right{
    height: 100%;
}

.debug footer .left,
.debug footer .right{
    width: 20%;
}

.debug footer .left{
    background-color: chartreuse;
}
.debug footer .center{
    width: 60%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center
}

.debug footer .center .up{
    width: 125px;
    height: 25px;
    background-color: coral;
}
.debug footer .center .down{
    width: 55%;
    height: 25px;
    background-color: coral;
}

.debug footer .right{
    background-color: blanchedalmond;
}





@media screen and (min-width: 415px){

    .debug .row aside{
        width: 190px;
    }

    .debug .row .header,
    .debug .row .main{
        width: calc(100% - 190px)
    }

    .debug .row aside{
        align-items: unset;
    }

    .debug .row aside span{
        display: inline;
    }

    .debug .row aside .playlist{
        display: block;
    }

    .debug .row aside .logo img#l{
        display: inline-block;
        width: 120px;
        padding: 5px;
    }

    .debug .row aside .logo img#s{
        display: none;
    }
    

}